In [4]:
import numpy as np 
import pandas as pd

In [ ]:
list = [3, 5, 6, 7, 8,9]
arr = np.array(list)
arr

In [ ]:
a = np.arange(9).reshape(3,3)
a

In [5]:
a = np.arange(10,19).reshape(3,3)
a + 10

array([[20, 21, 22],
       [23, 24, 25],
       [26, 27, 28]])

In [ ]:
a1 = np.random.randint(10,100,20)
a1

In [ ]:
a2 = a1.reshape(4,5)
a2

In [ ]:
a2.ndim

In [ ]:
a1[3]

In [ ]:
a2[0]

In [ ]:
a2[3:4, 4]

In [ ]:
a2[3,4]

In [ ]:
a1[a1 < 50 ]

In [ ]:
a1[(a1 < 0 ) & (a1 < 50)]

In [ ]:
a2[(a2 < 10 ) | (a2 > 70)]

In [ ]:
a2.sum()

In [ ]:
a2[0].sum()

In [ ]:
a2.mean()

In [ ]:
a2.std()

In [ ]:
a2.max()

to use pandas : 
import pandas as pd 

Data Structure of pandas 
 1. Serie:
    1 D : homegeneous, allow broadcasting and vectorization 
    
 2. DataFrame : 
    2D, hetrogeneous, allow broadcasting and vectorization

In [3]:
import pandas as pd

list1= [10,20,30,40]
s1= pd.Series(list1)
s1

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
s2= pd.DataFrame(list1)
s2

    0
0  10
1  20
2  30
3  40

In [19]:
s2 = pd.Series(list1, index = range(1,5))
s2

    0
1  10
2  20
3  30
4  40